*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation */

.nav-container{
    background: #e9e1d4;
}

.navigation{
    position: relative;
    display: flex;
    
}

.logo img{
    width: 150px;
    padding: 0;
}

.navbar{
    position: absolute;
    right: 0;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 30px 50px 0px 0px;
}

.head-col{
    width: 100%;
    display: none;
    justify-content: center;
    gap: 300px;
        
}

.btn{
    width: fit-content;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
}

.row-content{
    margin-top: 100px;
    font-size: 1rem;
}

.header-image{
    width: 500px;
    border-radius: 50px;
}

.showPicture{
    display: flex;
}

section{
    margin-bottom: 100px;
}

/* Body */

.container{
    margin: auto;
    padding: 0px 20px;
    position: relative;
}

.slide-button{
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 1px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.504);
}

.left{
    left: 20px;
    top: 60%;
}

.right{
    right: 20px;
    top: 60%;
}

.slide-row{
    display: flex;
    width: 100%;
    gap: 40px;
    overflow-y: scroll;
}

.shoe-card{
    width: 300px;
    padding: 3px;
}

.shoe-card img{
    width: 300px;
}

.salomon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background:#81D8D0; */
    background-image: url(assets/end-salomon-xt-6-truffle.jpg);
    background-position: center;
    background-size: 100%;
    height: 500px;
}

.salomon-box{
    border-radius: 10px;
    background-color: #e9e1d4e5;
    width: fit-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salomon-box button{
    margin-top: 10px;
}

.salomon-box div img{
    width: 500px;
}

/* footer */

.footer-hr{
    border: none;
    height: 5px;
    background-color: #FFCE1B;
}

footer{
    display: flex;
    justify-content: center;
    padding: 50px 20px 50px 0px;
    gap: 200px;
}

ul{
    list-style: none;
}

/*.footer-row, .footer-row2, .footer-row3{
    flex: 250px;
} */

.footer-row img{
    width: 200px;
}

.footer{
    margin-bottom: 0;
}

.footer p{
    text-align: center;
    color: gray;
    font-size: smaller;
    padding: 10px 0px;
    font-weight: 100;
}

/* Product Page */

.sort-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 100px 0px 0px;
}

select{
    margin-top: 5px;
    border: solid 1px;
}

.product-col{
    display: flex;
}

.product-card{
    width: 200px;
    padding: 3px;
}

.product-card img{
    width: 200px;
}

.product-row{
    margin-bottom: 20px;
}

.filter{
    width: 300px;
}

.page-button {
    margin-top: 50px;
    text-align: center;
}

.page-button span{
    display: inline-block;
    width: 40px;
}

/* Single Products Page */

.sole-product-container{
    display: flex;
    justify-content: center;
}

.sole-product-row{
    display: flex;
    width: 1200px;
}

.sole-product-row img{
    width: 600px;    
}

.product-gallery{
    display: flex;
    gap: 20px;
}

.product-gallery img{
    width: 100px;
}

.sizes span{
    display: inline-block;
    width: 30px;
    border: solid 1px #1E90FF;
    text-align: center;
    border-radius: 3px;
}

.sole-product-col{
    padding: 0px 40px;
}

.sole-product-col input{
    margin-top: 10px;
    width: 30px;
    border: solid 1px #1E90FF;
    font-size: 1rem;
    text-align: center;
}

.sole-product-col:focus input{
    border: solid 1px #1E90FF;
}

.purchase-block{
    display: flex;
}

.cart{
    background: #1E90FF;
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: none;
}

.purchase-block a{
    text-decoration-line: none;
}

/* Shopping Cart Page */

.table-container{
    margin: 80px auto;
    width: 1000px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
}

td img{
    width: 150px;
    margin-right: 10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    padding: 5px;
    text-align: left;
    color: white;
    background-color: #1E90FF;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    padding: 5px;
    height: 30px;
}

td a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    width: 1000px;
}

.total-price table{
    border-top: 3px solid #1E90FF;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
    padding-right: 5px;
}

th:last-child{
    text-align: right;
    padding-right: 5px;
}

/* Login Page */

.login-container{
    background: #fff;
    width: 500px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1)
}

.login-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    width: 100px;
    display: inline-block;
}

.form-button{
    display: inline-block;
}

.login-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#login-form{
    left: -300px;
}

#reg-form{
    left: 0;
}