*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation */

.nav-container{
    background: radial-gradient(circle, white, #FFCE1B);
}

.navigation{
    
}

.logo{

}

.navigation{

}

.navbar{
    display: flex;
    gap: 40px;
    list-style: none;
}

.col{
 display: flex;
}

.row{

}

/* Body */

.container{
    margin: auto;
}

.slide-row{
    display: flex;
}

.salomon-box{
    display: flex;
    background: radial-gradient(circle,white, #81D8D0 );
}